/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

img {
  display: block;
  width: 100%;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

/* 
---------------------------------------------
HEADER and Footer
--------------------------------------------- 
*/

header, footer{
  background-color: #0071f8;
}

header .container, footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  max-width: 1200px;
  margin-inline: auto;
  width: 90vw;
}

header img{
  max-width: 150px;
  object-fit: cover;
}

header .nav{
  display: flex;
  gap: 2rem;
  align-items: center;
}

header .nav li a, footer p{
  color:white;
}

footer p{
  text-align: center;
  margin-inline: auto;
}

header .nav li a{
  padding: 0.5rem 1rem;
}

header .nav li a.active, header .nav li a:hover{
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 20px;
 
}

header .nav li a.button{
  background-color: #ee626b;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-transform: uppercase;
}

header .nav li a.button:hover{
  background-color: #fd3b47;
}

footer{
  display: none; 
}

/* 
---------------------------------------------
HERO SECTION
--------------------------------------------- 
*/